@use "../../variables" as var;

.enshita-input-textarea {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  height: 2rem;
  padding: 2px;
  border: solid 1.5px;
  border-color: var.$global-gray;
  border-radius: 0.5rem;

  &:focus-within {
    border-color: var.$global-secondary;
  }

  .enshita-input-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
  }
}

.enshita-input-normal {
  width: calc(100% - 25px);
  border: none;
  outline: none;
}

.enshita-input-password {
  width: calc(100% - 50px);
  border: none;
  outline: none;
}

.enshita-input-error {
  width: 100%;
  height: 1rem;
  text-align: end;

  small {
    color: var.$global-red;
  }
}
