@use "../../variables" as var;
@use "../../font-size" as font;

.enshita-radio-input-label-box {
  display: inline-flex;
  font-size: font.$text-16;
  white-space: pre-wrap;
  color: var.$global-black;
  @media (max-width: 768px) {
    font-size: font.$text-mb-12;
  }
  .enshita-radio-input-label-text {
    &:before {
      content: " ";
    }
    &:after {
      content: " / ";
    }
  }
}
