@use "../../variables" as var;

.enshita-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  padding-right: 2rem;
  padding-left: 1.5rem;
  background-color: var.$global-primary;
  @media (max-width: 768px) {
    justify-content: center;
  }
}

.enshita-header-logo-img {
  flex-grow: 0;
  width: 14rem;
}

.enshita-header-button {
  width: 5rem;
  height: 2rem;
}

@media screen and (max-width: 768px) {
  .enshita-header-hidden {
    display: none;
  }
}
