@use "../../variables" as var;

.enshita-header {
  display: flex;
  align-items: center;
  background-color: var.$global-primary;
}

.enshita-header-logo {
  padding-top: 0.5rem;
  font-size: 2.5rem;
  font-weight: 900;
}

.enshita-header-pc {
  justify-content: space-between;
  height: 6rem;
  padding-right: 2rem;
  padding-left: 1.5rem;
}

.enshita-header-svg {
  fill: var.$global-white;
}

@media screen and (max-width: 768px) {
  .enshita-header-hidden {
    display: none;
  }

  .enshita-header-pc {
    justify-content: center;
  }
}
