@use "../../variables" as var;
@use "font-size" as font;

.enshita-apply-form-area-box {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  background-color: var.$global-white;
  border-radius: 1rem;

  & > :not([hidden]) ~ :not([hidden]) {
    margin-top: 1rem;
  }
  @media (max-width: 768px) {
    padding: 0.75rem;
    border-radius: 0.5rem;
  }
  .enshita-apply-form-area-label {
    font-size: font.$text-20;
    color: var.$global-black;
    @media (max-width: 768px) {
      font-size: font.$text-mb-16;
    }
  }
  .enshita-apply-form-area {
    resize:none;
    font-size: font.$text-16;
    color: var.$global-black;
    border: none;
    border-bottom: 1px solid var.$global-black;
    outline: none;
    @media (max-width: 768px) {
      font-size: font.$text-mb-12;
    }
  }
}
