@use "../../variables" as var;
@use "font-size" as font;

.enshita-apply-form-title-box {
  text-align: center;
  color: var.$global-black;
  .enshita-apply-form-title-wrapper {
    display: flex;
    white-space: pre-wrap;
    justify-content: center;
    @media (max-width: 768px) {
      display: block;
      white-space: normal;
    }
    .enshita-apply-form-title {
      font-size: calc(100vw / 60);
      @media (max-width: 768px) {
        font-size: font.$text-mb-20;
      }
      &:last-child {
        &:before {
          content: " ";
          @media (max-width: 768px) {
            content: "";
          }
        }
      }
    }
  }
  .enshita-apply-form-subtitle {
    font-size: font.$text-16;
    @media (max-width: 768px) {
      font-size: font.$text-mb-12;
    }
  }
}
