@use "../../variables" as var;

.enshita-event-card-chip {
  display: flex;
  justify-content: center;
  padding: 0.25rem 1rem;
  border-radius: 0.625rem;
  .enshita-event-card-chip-content {
    color: var.$global-black;
    font-size: 1rem;
  }
}
.enshita-event-card-status-gray {
  background-color: var.$global-gray;
}
.enshita-event-card-status-green {
  background-color: var.$global-green;
}
