@use "../../_variables" as var;

.enshita-stream-breaking {
  grid-row: 1/3;
  padding: 13.5rem 7.5rem 0;
}

.enshita-stream-breaking-message {
  font-size: 6rem;
}

.enshita-stream-breaking-sub-message {
  padding-top: 1rem;
  font-size: 3rem;
  text-align: center;
}

.enshita-stream-breaking-next {
  padding: 12rem 0 0;
  font-size: 3rem;
}
