@use "../../_variables" as var;

.enshita-stream-oped {
  width: 100%;
  height: 100%;
  text-align: center;

  .enshita-stream-oped-massage {
    padding: 20rem 0 6rem;
    font-size: 6rem;
  }

  .enshita-stream-oped-sub-massage {
    font-size: 4rem;
  }
}
