@use "../../_variables" as var;

.enshita-stream {
  display: grid;
  grid-template-columns: 100rem 20rem;
  grid-template-rows: 56.25rem 11.25rem;
  height: 67.5rem;
  width: 120rem;
  background-color: var.$global-gray;
}

.enshita-stream-display-comments {
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem;
  gap: 1rem;
  grid-row: 1;
  grid-column: 2;
}

.enshita-stream-display-clock {
  font-size: 5.4rem;
  text-align: center;
  grid-column: 2;
  p {
    font-size: 2.5rem;
  }
}
