.enshita-event-tweet-icon {
  svg {
    color: #fff;
  }
}

.enshita-event-tweet-box {
  padding: 0.8rem 1rem;
  background-color: #00acee;

  &:hover {
    background-color: #00acee;
  }
}

.enshita-event-tweet-text {
  margin-left: 0.5rem;
  color: #fff;
}
