.enshita-event-tweet-icon {
  svg {
    color: #ffffff;
  }
}

.enshita-event-tweet-box {
  background-color: #00acee;
  padding: 0.8rem 1rem;

  &:hover {
    background-color: #00acee;
  }
}

.enshita-event-tweet-text {
  color: #ffffff;
  margin-left: 0.5rem;
}
