@use "_variables.scss" as var;

$text-mb-12: calc(10vw / 3);
$text-16: calc(10vw / 12);
$text-20: calc(12.5vw / 12);
$text-mb-20: calc(100vw / 18);

.enshita-form-title-box {
  text-align: center;
  color: var.$global-black;
  .enshita-form-title-wrapper {
    display: flex;
    white-space: pre-wrap;
    justify-content: center;
    @media (max-width: 768px) {
      display: block;
      white-space: normal;
    }
    .enshita-form-title {
      font-size: calc(100vw / 60);
      @media (max-width: 768px) {
        font-size: $text-mb-20;
      }
      &:last-child {
        &:before {
          content: " ";
          @media (max-width: 768px) {
            content: "";
          }
        }
      }
    }
  }
  .enshita-form-subtitle {
    font-size: $text-16;
    @media (max-width: 768px) {
      font-size: $text-mb-12;
    }
  }
}
