@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Inter.ttf") format("truetype"),
    url("/fonts/Inter.woff") format("woff"),
    url("/fonts/Inter.woff2") format("woff2"),
    url("/fonts/Inter.eot") format("embedded-opentype");
  font-display: fallback;
}

@font-face {
  font-family: NotoSansJp;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/NotoSansJp.ttf") format("truetype"),
    url("/fonts/NotoSansJp.woff") format("woff"),
    url("/fonts/NotoSansJp.woff2") format("woff2"),
    url("/fonts/NotoSansJp.eot") format("embedded-opentype");
  font-display: fallback;
}

body {
  font-family: Inter, NotoSansJp, sans-serif;
}
